{% extends "website/base.html" %}

{% block content %}
<div class="peoplecontent">
    <h1>crew of the company</h1>
    <div class="people">
        <div class="crew">
            <div class="peopleimage">
                <img src="/static/img/CEO1.jpg" alt="people image">
            </div>
            <div class="personname">Idris</div>
            <div class="designation">CEO of silicon labs</div>

        </div>
         <div class="crew">
            <div class="peopleimage">
                <img src="/static/img/seniormanager.jpg" alt="people image">
            </div>
            <div class="personname">Mr.Lee</div>
            <div class="designation">Senior Manager of silicon labs</div>

        </div>
         <div class="crew">
            <div class="peopleimage">
                <img src="/static/img/cheif.jpg" alt="people image">
            </div>
            <div class="personname">Alisa</div>
            <div class="designation">Cheif Technology Officer of silicon labs</div>

        </div>
         <div class="crew">
            <div class="peopleimage">
                <img src="/static/img/chairman.jpg" alt="people image">
            </div>
            <div class="personname">John</div>
            <div class="designation"> Chairman of silicon labs</div>

        </div>
    </div>
    
{% endblock  %}