{% extends "website/base.html" %}

{% block content %}
<div class="productitem">
    <div class="itemimage">
        <img src="/static/img/c1.jpg" alt="product image">
    </div>
    <div class="itemname">4GB DDRA4 laptop memory</div>
    <div class="itemprice">Price: Rs.2000.00 </div>
</div>
<div class="productitem">
    <div class="itemimage">
        <img src="/static/img/c2.jpg" alt="product image">
    </div>
    <div class="itemname">1TB Laptop HDD</div>
    <div class="itemprice">Price: Rs.5000.00 </div>
</div>
<div class="productitem">
    <div class="itemimage">
        <img src="/static/img/c3.jpg" alt="product image">
    </div>
    <div class="itemname">144 pin SDRAM</div>
    <div class="itemprice">Price: Rs.3500.00 </div>
</div>
<div class="productitem">
    <div class="itemimage">
        <img src="/static/img/graphicscard.jpg" alt="product image">
    </div>
    <div class="itemname">graphics card</div>
    <div class="itemprice">Price: Rs.12000.00 </div>
</div>
<div class="productitem">
    <div class="itemimage">
        <img src="/static/img/motherboard.jpg" alt="product image">
    </div>
    <div class="itemname">motherboard</div>
    <div class="itemprice">Price: Rs.3900.00 </div>
</div>
<div class="productitem">
    <div class="itemimage">
        <img src="/static/img/RAM.jpg" alt="product image">
    </div>
    <div class="itemname">RAM</div>
    <div class="itemprice">Price: Rs.3200.00 </div>
</div>
<div class="productitem">
    <div class="itemimage">
        <img src="/static/img/mouse.jpg" alt="product image">
    </div>
    <div class="itemname">mouse</div>
    <div class="itemprice">Price: Rs.500.00 </div>
</div>
<div class="productitem">
    <div class="itemimage">
        <img src="/static/img/SATA HDD.jpg" alt="product image">
    </div>
    <div class="itemname">SATA HDD</div>
    <div class="itemprice">Price: Rs.2500.00 </div>
</div>
<div class="productitem">
    <div class="itemimage">
        <img src="/static/img/keyboard.jpg" alt="product image">
    </div>
    <div class="itemname">keyboard</div>
    <div class="itemprice">Price: Rs.2500.00 </div>
</div>
<div class="productitem">
    <div class="itemimage">
        <img src="/static/img/webcam.jpg" alt="product image">
    </div>
    <div class="itemname">webcam</div>
    <div class="itemprice">Price: Rs.1000.00 </div>
</div>
<div class="productitem">
    <div class="itemimage">
        <img src="/static/img/RYZEN 7 3700X.jpg" alt="product image">
    </div>
    <div class="itemname">RYZEN 7 3700X</div>
    <div class="itemprice">Price: Rs.28000.00 </div>
</div>
<div class="productitem">
    <div class="itemimage">
        <img src="/static/img/broadbandmodems.jpg" alt="product image">
        <div class="itemname">Broadband Modems</div>
        <div class="itemprice">Price: Rs.2800.00 </div>
    </div>

</div>
</div>
{% endblock  %}